body {
    margin: 0;
    padding: 0;
    position: relative;
}

* {
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
input {
    outline: none;
}
.user-input {
    display: block;
    position: absolute;
    width: 40vw;
    top: 20vh;
    right: 30vw;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 14px;
}
form>div>label {
    font-size: 1.2rem;
    font-weight: 600;
}

.user-input-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(0 0 0 /0.2);
}
.close {
    width: 100%;
    text-align: end;
}
div >#close-popup {
    background: #e11d48;
    color: white;
    border: 1px solid white;
}

label:not(.status>label) , input:not(input[type='radio']) {
    display: block;
    text-align: center;
}
.status>div> label {
    font-weight: 600;
}
.status> div {
    display: flex;
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
form > div, input[type='submit'] {
    margin: 10px 0px;
}
input[type="submit"] {
    padding: 8px 24px;
    background: #60a5fa;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
form> div:last-child {
    display: flex;
    justify-content: center;
}
div> input[type='text'] {
    margin-left: 20%;
    height: 1.4rem;
    width: 20vw;
}
.book-shelf {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin: 20px 10vw;

}
.book-shelf>div {
    margin: 20px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 550;
    border: 2px solid black;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 20px;
    color: white;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    /* padding-top: 30px; */
}

.button > #new-book-black {
    background-color: #1e293b;
    color: white;
}

.button > #new-book-white {
    background-color: white;
    color: black;
}
.button > button {
    padding: 8px 24px;
    font-weight: 650;
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 24px;
}
.button {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.display-books {
    padding-top: 30px;
}
.book-shelf > div > button {

    background-color: black;
    color: white;
    font-weight: 550;
    border-radius: 24px;
    padding: 6px 18px;
    border: 2px solid white;
    margin: 8px 0px 2px 5px;
}

